.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

